* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    width: 75%; /* Make sure to change with JS sizes*/
    height: 75%;
    display: flex;
    flex-wrap: wrap;

    border: 1px solid black;
}

.cell {
    /* border: 0.5px solid grey; */
    height: 50px;
    width: 50px;
    background-color: white;
}

.fill {
    background-color: black;
}

#reset {
    margin: 20px;
}